button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right:auto;
    margin-left:auto;
}

.img2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right:auto;
    margin-left:auto;
}

.img1{
    display: none;
    justify-content: center;
    margin-top: 10px;
    margin-right:auto;
    margin-left:auto;
}

h1{
    display: none;
    justify-content: center;
    margin-top: 10px;
    margin-right:auto;
    margin-left:auto;
}